


<%= flash[:alert] %>
<table border = "1">
  <thead>
    <th>論文タイトル</th>
    <th>筆頭著者</th>
    <th>共著者</th>
  </thead>
  <tbody>
    <% @papers.each do |paper| %>
    <tr>
      <td><%= link_to "#{paper.title_ja}", paper_path(paper) %></td>
      <td><%= paper.lead_author %></td>
      <td><%= paper.co_author %></td>
    </tr>
    <% end %>
  </tbody>
</table>

